<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户反馈</title>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <!--<script src="/im/js/UCKeFu_IM.v1.js"></script>-->
</head>
<body>

<textarea id="outText" type="text" readonly="readonly" value="小绿车客服" cols="30" rows="10"></textarea>
<br>
<textarea id="message" name="content" ></textarea>
<input type="button" onclick="sendMessage()" value="发送"> </input>
<input type="file" name="file" id="file-field" />
<div id="img-container">
    <ul id="img-list"></ul>
</div>
<script>
   // var hostname = "${hostname!''}"  , schema = "${schema!'http'}", port = "${webimport!''}" , userid = "${user.id!''}" , session = "${sessionid!''}" , orgi = "${orgi!''}";
    //var socket = io.connect('${schema!'http'}://'+hostname+':${port}/im/user?userid=${userid!''}&orgi=${orgi!''}&session=${sessionid!''}&appid=${appid!''}&osname=${(osname!'')?url}&browser=${(browser!'')?url}<#if skill??>&skill=${skill}</#if><#if username??>&nickname=${username}</#if><#if agent??>&agent=${agent}</#if>');
    //var socket = io.connect("http://10.33.60.8:9099/im/agent/?userid=2222&toid=1111");
   var socket = io.connect("http://10.33.60.8:9099/im/agent");
    socket.on('connect',function(){
        //service.sendRequestMessage();
        //output('<span id="connect-message">'+ new Date().format("yyyy-MM-dd hh:mm:ss") + ' 开始沟通' +'</span>' , 'message connect-message');
        alert("与客户连接成功");
    })
    socket.on("agentstatus",function(data){
        document.getElementById('connect-message').innerHTML=data.message;
    });
   socket.on('img',function(file) {
       var arrayBuffer = new Uint8Array(file).buffer;
       var blob        = new Blob([arrayBuffer]);

       var imgList = $('ul#img-list');

       var li = $('<li/>').appendTo(imgList);
       $('<div/>').text(file.name).appendTo(li);
       var img = $('<img/>').appendTo(li);

       var reader = new FileReader();
       reader.onload = (function(aImg) {
           return function(e) {
               aImg.attr('src', e.target.result);
               aImg.attr('width', 150);
           };
       })(img);

       reader.readAsDataURL(blob);
   });
   socket.on("new",function(data){
       console.log("data")
   });
   socket.on("clientstatus",function(data){
       console.log("data")
   });
    socket.on("status",function(data){
        output('<span id="connect-message">'+data.message+'</span>' , 'message connect-message');
        if(data.messageType == "end"){
            service_end = true ;
            editor.readonly();
        }
    })
    socket.on('message', function(data) {
        //var chat=document.getElementsByClassName('chatting-left').innerText;

       // chat = data.message;
        var outText = document.getElementById("outText");
        outText.value = outText.value+"\n"+"用户: "+data;
       // outText.
        console.log("客户说:"+data);
        /* if(data.messageType == "image"){
             chat = "<a href='"+data.message+"_original' target='_blank'><img src='"+data.message+"' class='ukefu-media-image'/></a>" ;
         }
         if(data.calltype == "in"){
             output('<div class="chat-right"> <img class="user-img" src="/im/img/user.png" alt=""><div class="chat-message"><label class="time">'+data.createtime+'</label><label  class="user">'+data.nickName+'</label> </div><div class="chatting-right"><i class="arrow arrow${inviteData.consult_dialog_color!''}"></i><div class="chat-content theme${inviteData.consult_dialog_color!''}">'+chat+'</div></div>' , "chat-block");
         }else if(data.calltype == "out"){
             output('<div class="chat-left"> <img class="user-img" src="<#if inviteData?? && inviteData.consult_dialog_headimg??>/res/image.html?id=${inviteData.consult_dialog_headimg?url}<#else>/images/agent.png</#if>" alt=""><div class="chat-message"><label  class="user">'+data.nickName+'</label><label class="time">'+data.createtime+'</label> </div><div class="chatting-left"><i class="arrow"></i><div class="chat-content">'+chat+'</div></div>' , "chat-block");
         }*/
    });

    socket.on('disconnect',function() {
        output('<span id="connect-message">连接坐席失败，在线咨询服务不可用</span>' , 'message connect-message');
    });
    function sendDisconnect(){
        socket.disconnect();
    }
    function sendMessage() {

        var message = document.getElementById('message').value;
        testarea=document.getElementById("message");
        testarea.value=""
        socket.emit('message',message);
    }
   $(document).ready(function() {

       var fileInput = $('#file-field');

       fileInput.bind({
           change: function() {
               displayFiles(this.files);
           }
       });

       function displayFiles(files) {
           $.each(files, function(i, file) {
               if (!file.type.match(/image.*/)) {
                   return true;
               }

               var reader = new FileReader();
               reader.onload = function(e) {
                   socket.emit('img', e.target.result);
               };

               reader.readAsArrayBuffer(file);
           });
       }

   });
</script>
</body>
</html>