<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户反馈</title>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <!--<script src="/im/js/UCKeFu_IM.v1.js"></script>-->
</head>
<body>

<textarea id="outText" type="text" readonly="readonly" value="小绿车客服" cols="30" rows="10"></textarea>
<br>
<textarea id="message" name="content" ></textarea>
<input type="button" onclick="sendMessage()" value="发送"> </input>
<input type="file" name="file" id="file-field" />
<div id="img-container">
    <ul id="img-list"></ul>
</div>
<div id="newsession"></div>
<script>
   // var hostname = "${hostname!''}"  , schema = "${schema!'http'}", port = "${webimport!''}" , userid = "${user.id!''}" , session = "${sessionid!''}" , orgi = "${orgi!''}";
    //var socket = io.connect('${schema!'http'}://'+hostname+':${port}/im/user?userid=${userid!''}&orgi=${orgi!''}&session=${sessionid!''}&appid=${appid!''}&osname=${(osname!'')?url}&browser=${(browser!'')?url}<#if skill??>&skill=${skill}</#if><#if username??>&nickname=${username}</#if><#if agent??>&agent=${agent}</#if>');
    //var socket = io.connect("http://10.33.60.8:9099/im/agent/?userid=2222&toid=1111");
   var socket = io.connect("http://10.33.60.8:9099/im/agent");
    socket.on('connect',function(){
        alert("与客户连接成功");
    })
    socket.on("agentstatus",function(data){
        document.getElementById('connect-message').innerHTML=data.message;
    });
   socket.on('img',function(file) {
       var arrayBuffer = new Uint8Array(file).buffer;
       var blob        = new Blob([arrayBuffer]);

       var imgList = $('ul#img-list');

       var li = $('<li/>').appendTo(imgList);
       $('<div/>').text(file.name).appendTo(li);
       var img = $('<img/>').appendTo(li);

       var reader = new FileReader();
       reader.onload = (function(aImg) {
           return function(e) {
               aImg.attr('src', e.target.result);
               aImg.attr('width', 150);
           };
       })(img);

       reader.readAsDataURL(blob);
   });
   socket.on("new",function(data){
       console.log("新连接客户:"+data)
       var input = document.createElement("input");
       input.type="text";
       input.name='file';
       var btn = document.createElement("input");
       btn.type='button';
       btn.value='发送';
       btn.onclick = function sub(){
        message = input.value;
        socket.emit("message",{
            userid : data,
            message :message
        })
           input.value = "";
       };
       var newdiv = document.createElement("div");
       newdiv.appendChild(input);
       newdiv.appendChild(btn);
       var d = document.getElementById("newsession");
       d.appendChild(newdiv);

   });
   socket.on("clientstatus",function(data){
       console.log("data")
   });
    socket.on("status",function(data){
        output('<span id="connect-message">'+data.message+'</span>' , 'message connect-message');
        if(data.messageType == "end"){
            service_end = true ;
            editor.readonly();
        }
    })
    socket.on('message', function(data) {
        //var chat=document.getElementsByClassName('chatting-left').innerText;
        var outText = document.getElementById("outText");
        outText.value = outText.value+"\n"+"用户"+data.userid+":"+data.message;
        console.log("客户说:"+data);

    });

    socket.on('disconnect',function() {
        output('<span id="connect-message">连接坐席失败，在线咨询服务不可用</span>' , 'message connect-message');
    });
    function sendDisconnect(){
        socket.disconnect();
    }
    function sendMessage() {

        var message = document.getElementById('message').value;
        testarea=document.getElementById("message");
        testarea.value=""
        socket.emit('message',message);
    }
   $(document).ready(function() {

       var fileInput = $('#file-field');

       fileInput.bind({
           change: function() {
               displayFiles(this.files);
           }
       });

       function displayFiles(files) {
           $.each(files, function(i, file) {
               if (!file.type.match(/image.*/)) {
                   return true;
               }

               var reader = new FileReader();
               reader.onload = function(e) {
                   socket.emit('img', {
                       data : e.target.result,
                       userid : "10.33.60.8:3314"
                    });
               };

               reader.readAsArrayBuffer(file);
           });
       }

   });
</script>
</body>
</html>